<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Front</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cafedra">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Кафедры
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auditory">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Аудитории
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="furniture">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Фурнитуры
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="computer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Компьютеры
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multimedia">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Мультимедийное оборудование
            </NavLink>
        </div>
    </nav>
</div>

