@page "/auditory"
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@attribute [StreamRendering]

<h1>Аудитории</h1>

@if (getauditoriesError || auditories is null)
{
    <p>Не удалось получить аудитории.</p>
}
else
{
    <a class="btn btn-outline-light" href="auditory/create">Создать</a>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Описание</th>
                <th>Инв. номер</th>
                <th>Кафедра</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in auditories)
            {
                <tr>
                    <td>@branch.name</td>
                    <td>@branch.description</td>
                    <td>@branch.inv_number</td>
                    <td>@branch.cafedra.name</td>
                    <td><a href="auditory/update/@branch.guid"><button class="btn btn-light"> Изменить </button> </a></td>
                    <td><button class="btn btn-light" @onclick="(() => Delete(branch.guid))" >Удалить</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Model.Auditory>? auditories = [];
    private bool getauditoriesError;
    private string? serviceEndpoint;

    protected override async Task OnInitializedAsync()
    {
        auditories = await Http.GetFromJsonAsync<IEnumerable<Model.Auditory>>("https://localhost:7264/api/auditory/");
    }

    protected async void Delete (Guid guid) 
    {
        var response = await Http.DeleteAsync("https://localhost:7264/api/auditory/" + guid);
        if (response.IsSuccessStatusCode) 
        {
            await OnInitializedAsync();
            StateHasChanged();
        } else 
        {
            Console.WriteLine("Error"); 
        }

    }
}
